:root {
    --color-primary: #fff;
    --color-bg: #343D4B;
    --color-primary-inverted: #000;
    --color-bg-card: #272E37;
    --color-bg-main: #222831;
    --gradient: linear-gradient(90deg,rgba(189, 235, 255, 1) 0%, rgba(0, 149, 255, 1) 100%);
    --gradient-inverted: linear-gradient(90deg,rgba(0, 149, 255, 1) 0%, rgba(189, 235, 255, 1) 100%);
    --font: "Montserrat", sans-serif;
}

body {
    font-family: var(--font);
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--color-bg);
    color: var(--color-primary);
}